html, body, #root {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.loginContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 80%;
    height: 60%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.loginContent, .registerContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerContainer {
    background-color: #0072b8;
    color: white;
}

.loginButton {
    border: none;
    background-color: #ec008c;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    width: 88%;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.loginImage {
    width: 70%;
    margin-bottom: 20%;
    border: none;
}

.inputField {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.inputField input {
    width: 80%;
    padding: 10px;
    background-color: #f5f5f5;
    border: none;
}
.resetButton {
    border: none;
    background-color: #8060a5;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}
